@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
}

img {
  max-width: 100%;
}

html {
  font-size: 1rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.125rem;
}

.btn {
  display: inline-block;
  padding: 0.9375rem 1.875rem;
  text-decoration: none;
  color: #FFF;
  font-weight: 700;
  transition: background-color 0.3s ease-out;
  background-color: #37A0F3;
  border-radius: 0.25rem;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  border-color: #37A0F3;
  box-shadow: none;
}
.btn:hover {
  background-color: #0b6cb9;
  color: #f7f7f7;
}

.social .overlay, .features .wraper, .features .wraper .input, .section-two, .section-two .img {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}
@media (max-width: 768px) {
  .social .overlay, .features .wraper, .features .wraper .input, .section-two, .section-two .img {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}

.features .wraper .content .box .inner-c, .section-two .img .one, .section-two .img .two, .section-two .img .three, .section-two .img .four {
  margin-top: 1.875rem;
  margin-right: 1.875rem;
}

.section-two .img .one, .section-two .img .two, .section-two .img .three, .section-two .img .four {
  height: 25vh;
}
@media (max-width: 768px) {
  .section-two .img .one, .section-two .img .two, .section-two .img .three, .section-two .img .four {
    height: 40vh;
  }
}

.features .wraper, .section-two, .navbar {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px) {
  .features .wraper, .section-two, .navbar {
    max-width: 80%;
  }
}

.social .overlay .icons, .features .wraper .content, .section-two .img, .navbar {
  display: flex;
}

.section-two .img .one, .section-two .img .two, .section-two .img .three, .section-two .img .four {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner {
  height: 100vh;
  background: linear-gradient(rgba(73, 73, 73, 0.7), rgba(78, 78, 78, 0.7)), url("./img/hero.jpg") top left/cover no-repeat scroll;
  position: relative;
}
.banner .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.banner .content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.banner .content p {
  font-size: 1.5rem;
}
.banner .content h1,
.banner .content p {
  color: #FFF;
}

.navbar {
  padding-top: 1.875rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 425px) {
  .navbar {
    justify-content: center;
    padding-top: 0.9375rem;
  }
}
@media (max-width: 425px) {
  .navbar .logo {
    font-size: 1.5rem;
  }
}
.navbar a {
  flex: 0 0 auto;
  text-decoration: none;
  color: #FFF;
}
.navbar ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  flex: 0 1 auto;
}
.navbar ul li {
  display: inline-block;
}
.navbar ul li:not(:last-child) {
  margin-right: 0.9375rem;
}
@media (max-width: 425px) {
  .navbar ul li:not(:last-child) {
    margin-right: 2.25rem;
  }
}
@media (max-width: 375px) {
  .navbar ul li:not(:last-child) {
    margin-right: 1.5rem;
  }
}
@media (max-width: 320px) {
  .navbar ul li:not(:last-child) {
    margin-right: 0.5625rem;
  }
}

.section-two .text {
  text-align: center;
  width: 40%;
  margin: 1.875rem auto;
}
@media (max-width: 768px) {
  .section-two .text {
    width: 90%;
  }
}
.section-two .text h2 {
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .section-two .text h2 {
    font-size: 2.5rem;
  }
}
.section-two .text p {
  font-size: 0.75rem;
}
@media (max-width: 768px) {
  .section-two .text p {
    font-size: 1.0714285714rem;
  }
}
.section-two .text hr {
  width: 10em;
  border: 1px solid #37A0F3;
  margin-top: 1.875rem;
}
.section-two .img {
  flex-wrap: wrap;
  margin-right: -1.875rem;
}
.section-two .img .box-img40 {
  flex: 0 1 40%;
}
@media (max-width: 768px) {
  .section-two .img .box-img40 {
    flex-basis: 100%;
  }
}
.section-two .img .box-img60 {
  flex: 0 1 60%;
}
@media (max-width: 768px) {
  .section-two .img .box-img60 {
    flex-basis: 100%;
  }
}
.section-two .img .one {
  background-image: url("./img/coast.jpg");
}
.section-two .img .two {
  background-image: url("./img/island.jpg");
}
.section-two .img .three {
  background-image: url("./img/balloon.jpg");
}
.section-two .img .four {
  background-image: url("./img/mountain.jpg");
}

.features {
  background-color: #f7f7f7;
}
.features .wraper .services {
  text-align: center;
  width: 40%;
  margin: 1.875rem auto;
}
@media (max-width: 768px) {
  .features .wraper .services {
    width: 90%;
  }
}
.features .wraper .services h2 {
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .features .wraper .services h2 {
    font-size: 2.5rem;
  }
}
.features .wraper .services p {
  font-size: 0.75rem;
}
@media (max-width: 768px) {
  .features .wraper .services p {
    font-size: 1.0714285714rem;
  }
}
.features .wraper .services hr {
  width: 10em;
  border: 1px solid #37A0F3;
  margin-top: 1.875rem;
}
.features .wraper .content {
  flex-wrap: wrap;
  margin-right: -1.875rem;
  text-align: center;
}
.features .wraper .content .box {
  flex: 0 1 33.333%;
}
@media (max-width: 768px) {
  .features .wraper .content .box {
    flex-basis: 100%;
  }
}
.features .wraper .content .box .inner-c i {
  color: #37A0F3;
  font-size: 2.25rem;
  margin-bottom: 0.9375rem;
}
.features .wraper .content .box .inner-c h4 {
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .features .wraper .content .box .inner-c h4 {
    font-size: 1.5rem;
  }
}
.features .wraper .content .box .inner-c p {
  font-size: 0.75rem;
}
@media (max-width: 768px) {
  .features .wraper .content .box .inner-c p {
    margin: 0 auto;
    width: 70%;
    font-size: 1.0714285714rem;
  }
}

.features {
  background-color: #f7f7f7;
}
.features .wraper .input .input-type {
  display: flex;
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px) {
  .features .wraper .input .input-type {
    max-width: 90%;
  }
}
@media (max-width: 768px) {
  .features .wraper .input .input-type {
    flex-direction: column;
  }
}
.features .wraper .input .input-type input[type=text] {
  flex: 1 1 auto;
  padding: 0.625rem;
  margin-right: 0.9375rem;
}
.features .wraper .input .input-type input[type=submit] {
  border: 0;
}
@media (max-width: 768px) {
  .features .wraper .input .input-type input[type=submit] {
    width: 35%;
    margin: 0 auto;
    margin-top: 0.9375rem;
  }
}
@media (max-width: 425px) {
  .features .wraper .input .input-type input[type=submit] {
    width: 65%;
  }
}

.social {
  background-color: #414A4F;
}
.social .overlay .icons {
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.social .overlay .icons i {
  margin: 0 0.46875rem;
  color: #FFF;
}
.social .overlay .span {
  text-align: center;
  color: #FFF;
  font-size: 0.75rem;
  margin-top: 1.5rem;
  text-transform: uppercase;
}

/*# sourceMappingURL=main.css.map */
