@use "../abstracts/variables" as var;
@use "sass:math";

html {
  font-size: var.$font-size-base;
}

body {
  font-family: var.$font-family-base;
  font-weight: var.$font-weight-normal;
  line-height: var.$line-height-base;
  color: var.$text-color-base;
}

h1 {
  font-size: var.$heading-size-base;
}

h2 {
  font-size: var.$heading-size-small;
}

h3 {
  font-size: var.$font-size-medium;
}

.btn {
  display: inline-block;
  padding: math.div(var.$gutter-base, 2) math.div(var.$gutter-base, 1);
  text-decoration: none;
  color: var.$text-color-primary;
  font-weight: var.$font-weight-bold;
  transition: background-color .3s ease-out;
  background-color: var.$text-color-tertiary;
  border-radius: var.$border-radius-base;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  border-color: var.$text-color-tertiary;
  box-shadow: none;



  &:hover {
    background-color: var.$primary-hover-color;
    color: var.$background-color-primary;
  }
}
