@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

.banner {
  height: 100vh;
  background: linear-gradient(rgba(73, 73, 73, 0.7), rgba(78, 78, 78, 0.7)),
    url("./img/hero.jpg") top left/cover no-repeat scroll;
  position: relative;
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: var.$max-width-max;

    h1 {
      font-size: var.$font-size-base * 3;
      margin-bottom: var.$font-size-base;
    }

    p {
      font-size: var.$font-size-base * 1.5;
    }

    h1,
    p {
      color: var.$text-color-primary;
    }
  }
}
