@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

.features {
  background-color: var.$background-color-primary;
  .wraper {
    @extend %wrap, %section;
    .services {
      text-align: center;
      width: 40%;
      margin: var.$gutter-base auto;

      @include mix.tablet-styles {
        width: var.$max-width-base;
      }
      h2 {
        text-transform: capitalize;
        @include mix.tablet-styles {
          font-size: math.div(var.$gutter-base, 0.75);
        }
      }
      p {
        font-size: math.div(var.$gutter-base, 2.5);
        @include mix.tablet-styles {
          font-size: math.div(var.$gutter-base, 1.75);
        }
      }
      hr {
        width: 10em;
        border: 1px solid var.$text-color-tertiary;
        margin-top: var.$gutter-base;
      }
    }
    .content {
        @extend %flex;
        flex-wrap: wrap;
        margin-right: var.$gutter-base-minus;
        text-align: center;
        
        .box {
            flex: 0 1 33.333%;
            @include mix.tablet-styles {
                flex-basis: var.$max-width-max;
            }
            .inner-c {
                @extend %inner;
                
               i {
                   color: var.$text-color-tertiary;
                   font-size: var.$heading-size-base;
                   margin-bottom: math.div(var.$gutter-base, 2);
               }
               h4 {
                  text-transform: capitalize;
                  @include mix.tablet-styles {
                    font-size: math.div(var.$gutter-base, 1.25);
                  }
               }
               p {
                 font-size: math.div(var.$gutter-base, 2.5);
                @include mix.tablet-styles {
                  margin: 0 auto;
                  width: var.$max-width-smaler;
                  font-size: math.div(var.$gutter-base, 1.75);
                }
                
               }
            }
        }
    }
  }
}
