@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

.navbar {
  @extend %flex, %wrap;
  padding-top: var.$gutter-base;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @include mix.mobile-l-styles {
    justify-content: center;
    padding-top: math.div(var.$gutter-base, 2);
  }

  .logo {
    @include mix.mobile-l-styles {
      font-size: var.$heading-size-small;
    }
  }
  a {
    flex: 0 0 auto;
    text-decoration: none;
    color: var.$text-color-primary;
  }
  ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex: 0 1 auto;

    li {
      display: inline-block;
      &:not(:last-child) {
        margin-right: math.div(var.$gutter-base, 2);

        @include mix.mobile-l-styles {
          margin-right: var.$gutter-base * 1.2;
        }
        @include mix.mobile-m-styles {
          margin-right: var.$gutter-base * 0.8;
        }
        @include mix.mobile-s-styles {
          margin-right: var.$gutter-base * 0.3;
        }
      }
    }
  }
}
