@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

.section-two {
    @extend %wrap, %section;
    .text {
        text-align: center;
        width: 40%;
        margin: var.$gutter-base auto;

        @include mix.tablet-styles {
            width: var.$max-width-base;
          }

        h2 {
            text-transform: capitalize;
            @include mix.tablet-styles {
                font-size: math.div(var.$gutter-base, 0.75);
              }
        }
        p {
            font-size: math.div(var.$gutter-base, 2.5);
            @include mix.tablet-styles {
                font-size: math.div(var.$gutter-base, 1.75);
              }
        }
        hr {
            width: 10em;
            border: 1px solid var.$text-color-tertiary;
            margin-top: var.$gutter-base;
        }
    }
    .img {
        @extend %flex, %section;
        flex-wrap: wrap;
        margin-right: var.$gutter-base-minus;

        .box-img40 {
            flex: 0 1 40%;
            @include mix.tablet-styles {
                flex-basis: var.$max-width-max;
            }
        }
        .box-img60 {
            flex: 0 1 60%;
            @include mix.tablet-styles {
                flex-basis: var.$max-width-max;
            }
        }
        .one{
            @extend %bg-img, %inner, %height;
           background-image: url("./img/coast.jpg");
        }
        .two{
            @extend %bg-img, %inner, %height;
           background-image: url("./img/island.jpg");
        }
        .three{
            @extend %bg-img, %inner, %height;
           background-image: url("./img/balloon.jpg");
        }
        .four{
            @extend %bg-img, %inner, %height;
           background-image: url("./img/mountain.jpg");
        }
        
        
}

}