@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

.social {
  background-color: var.$background-color-secondary;
  .overlay {
    @extend %section;
    
    
    .icons {
      @extend %flex;
      justify-content: center;
      align-items: center;
      font-size: math.div(var.$gutter-base, 1.25);
      i {
        margin: 0 math.div(var.$gutter-base, 4);
        color: var.$background-color-base;
      }
    }
    .span {
        text-align: center;
        color: var.$background-color-base;
        font-size: math.div(var.$gutter-base, 2.5);
        margin-top: math.div(var.$gutter-base, 1.25);
        text-transform: uppercase;
    }


  }
}
