@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

.features {
  background-color: var.$background-color-primary;
  .wraper {
    @extend %section;
    .input {
        @extend %section;
      .input-type {
        display: flex;
        max-width: 40%;
        margin-left: auto;
        margin-right: auto;
        @include mix.tablet-styles {
          max-width: var.$max-width-base;
        }

        @include mix.tablet-styles {
          flex-direction: column;
        }
        input[type="text"] {
          flex: 1 1 auto;
          padding: math.div(var.$gutter-base, 3);
          margin-right: math.div(var.$gutter-base, 2);
        }
        input[type="submit"] {
          border: 0;
          @include mix.tablet-styles {
            width: 35%;
            margin: 0 auto;
            margin-top: math.div(var.$gutter-base, 2);
          }
          @include mix.mobile-l-styles {
            width: 65%;
          }
        }
      }
    }
  }
}
