@use "./variables" as var;
@use "sass:math";

// RESPONSIVE LAPTOP FIRST DESIGN MIXINS
@mixin four-k-styles {
  @media (max-width: 2560px) {
    @content;
  }
}

@mixin laptop-l-styles {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin laptop-m-styles {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin tablet-styles {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile-l-styles {
  @media (max-width: 425px) {
    @content;
  }
}

@mixin mobile-m-styles {
  @media (max-width: 375px) {
    @content;
  }
}

@mixin mobile-s-styles {
  @media (max-width: 320px) {
    @content;
  }
}

// EXTENDS
%section {
  padding-top: (var.$gutter-base * 2);
  padding-bottom: (var.$gutter-base * 2);

  @include tablet-styles {
    padding-top: (var.$gutter-base);
    padding-bottom: (var.$gutter-base);
  }
}
%inner {
  margin-top: var.$gutter-base;
  margin-right: var.$gutter-base;
}

%height {
  height: 25vh;

  @include tablet-styles {
    height: 40vh;
  }
}

%wrap {
  max-width: var.$max-width-base;
  margin-left: auto;
  margin-right: auto;
  @include tablet-styles {
    max-width: var.$max-width-small;
  }
}
%flex {
  display: flex;
}

%bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}