@use "sass:math";

@function rem-calc($size) {
  @return (math.div($size, 16)) * 1rem;
}

// font settings
$font-family-base:            "Roboto", sans-serif;

$font-size-small:             rem-calc(14);
$font-size-base:              rem-calc(16);
$font-size-medium:            rem-calc(18);

$heading-size-small:          rem-calc(24);
$heading-size-base:           rem-calc(36);

$font-weight-normal:          400;
$font-weight-medium:          500;
$font-weight-bold:            700;

$text-color-base:             #000;
$text-color-primary:          #FFF;
$text-color-tertiary:         #37A0F3;

$background-color-base:        #FFF;
$background-color-primary:     #f7f7f7;
$background-color-secondary:   #414A4F;

$line-height-base:             1.5;
$line-height-small:            1.25;

// size settings
$gutter-base:                  rem-calc(30);
$gutter-base-minus:            rem-calc(-30);

$max-width-max:               100%;
$max-width-base:               90%;
$max-width-small:              80%;
$max-width-smaler:             70%;


// border settings
$border-width-base:            rem-calc(1);
$border-radius-base:           rem-calc(4);
// $border-radius-circle:         50%;

$primary-hover-color:         darken($text-color-tertiary, 20%);
$secondary-hover-color:       lighten($text-color-tertiary, 20%);